label {
    display: block;
    margin-bottom: 5px;
}

.form-field {
    margin-bottom: 15px;
}

input {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

button {
    border: none;
    background: #2D3748;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #1A202C;
}