<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        Logo
    </header>
    <main>
        <article>
            <h1 class="bottom-separate">Example article</h1>
            <p class="bottom-separate">
                Sed in blandit ipsum. Pellentesque non dictum justo. Aliquam sodales sit amet lacus sed facilisis. Maecenas blandit urna velit, fermentum congue arcu interdum vel. Nullam dapibus sem efficitur sapien scelerisque porttitor. Quisque placerat tortor ac neque sollicitudin, eu pellentesque mi convallis. Ut id dui blandit, pharetra purus ac, malesuada arcu. Curabitur et maximus felis. Fusce sed ante vel urna ultricies cursus. In vestibulum viverra ipsum id rutrum. Sed dapibus odio eget nibh mattis, et luctus odio vehicula. Nullam maximus accumsan est, vel volutpat dolor gravida vel. Nulla posuere, massa nec efficitur facilisis, lorem mauris ullamcorper nulla, in semper leo lectus eget elit. Vestibulum porta massa vel arcu maximus ultricies.
            </p>
            <p class="bottom-separate">
                Sed in blandit ipsum. Pellentesque non dictum justo. Aliquam sodales sit amet lacus sed facilisis. Maecenas blandit urna velit, fermentum congue arcu interdum vel. Nullam dapibus sem efficitur sapien scelerisque porttitor. Quisque placerat tortor ac neque sollicitudin, eu pellentesque mi convallis. Ut id dui blandit, pharetra purus ac, malesuada arcu. Curabitur et maximus felis. Fusce sed ante vel urna ultricies cursus. In vestibulum viverra ipsum id rutrum. Sed dapibus odio eget nibh mattis, et luctus odio vehicula. Nullam maximus accumsan est, vel volutpat dolor gravida vel. Nulla posuere, massa nec efficitur facilisis, lorem mauris ullamcorper nulla, in semper leo lectus eget elit. Vestibulum porta massa vel arcu maximus ultricies.
            </p>
            <p>
                Sed in blandit ipsum. Pellentesque non dictum justo. Aliquam sodales sit amet lacus sed facilisis. Maecenas blandit urna velit, fermentum congue arcu interdum vel. Nullam dapibus sem efficitur sapien scelerisque porttitor. Quisque placerat tortor ac neque sollicitudin, eu pellentesque mi convallis. Ut id dui blandit, pharetra purus ac, malesuada arcu. Curabitur et maximus felis. Fusce sed ante vel urna ultricies cursus. In vestibulum viverra ipsum id rutrum. Sed dapibus odio eget nibh mattis, et luctus odio vehicula. Nullam maximus accumsan est, vel volutpat dolor gravida vel. Nulla posuere, massa nec efficitur facilisis, lorem mauris ullamcorper nulla, in semper leo lectus eget elit. Vestibulum porta massa vel arcu maximus ultricies.
            </p>
        </article>
    </main>
    <footer>
        &copy; Copyright 2020
    </footer>
</body>
</html>
