* {
    margin: 0;
}

header {
    background-color: #2ae37c;
    padding: 50px;
    margin-bottom: 20px;
}

h1 {
    /* example margin vs padding */
    /*padding-top: 20px;*/
    /*background-color: red;*/
}

/*
.bottom-separate {
    margin-bottom: 20px;
}
*/

p {
    margin-top: 20px;
}

article {
    padding-left: 20px;
    padding-right: 20px;
    background: #a1a1a1;
}

footer {
    margin-top: 50px;
    background-color: coral;
    padding: 30px;
}
